<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Body fragment</title>
    <meta charset="UTF-8">
</head>
<body>

<div th:fragment="logout">

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <div sec:authorize="isAuthenticated()">
                <form method="post" th:action="@{/logout}">
                    <button type="submit" class="btn btn-info" th:text="#{user.signOut}"></button>
                </form>
            </div>
        </li>
    </ul>

</div>

<div th:fragment="lang">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" th:text="#{languages}"></th:text></a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{''(lang='en_GB')}" th:text="#{language.english}"></a>
                <a class="dropdown-item" th:href="@{''(lang='pl_PL')}" th:text="#{language.polish}"></a>
                <a class="dropdown-item" th:href="@{''(lang='de_DE')}" th:text="#{language.german}"></a>
            </div>
        </li>
    </ul>
</div>

</body>
</html>