<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"/>
    <th:block th:insert="fragments/header :: meta-header"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm bg-info navbar-dark sticky-top">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="navbar-brand" th:href="@{/login}" th:text="#{user.username}"></a>
                </li>
            </ul>
            <th:block th:insert="fragments/body :: lang"/>
        </div>
    </nav>

    <div class="jumbotron" style="margin-top:20px">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form method="post" th:action="@{/login}">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" th:text="#{user.username}"></span>
                        </div>
                        <input id="username" name="username" type="text" class="form-control" autocomplete="off">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" th:text="#{user.password}"></span>
                        </div>
                        <input id="password" name="password" type="password" class="form-control" autocomplete="off">
                    </div>
                    <div class="input-group mb-3">
                        <button class="btn btn btn-primary btn-block" type="submit" th:text="#{user.signIn}"></button>
                        <a class="m-lg-3" th:href="@{register}" th:text="#{user.account.noExists}"></a>
                    </div>
                </form>

            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

</div>

<th:block th:insert="fragments/footer :: footer"/>

</body>
</html>