<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"/>
    <th:block th:insert="fragments/header :: meta-header"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm bg-info navbar-dark sticky-top">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="navbar-brand" href="#" th:text="#{user.register}"></a>
                </li>
            </ul>
            <th:block th:insert="fragments/body :: lang"/>
        </div>
    </nav>

    <div class="jumbotron" style="margin-top:20px">
        <div class="container">
            <form method="post" th:action="@{/register}" th:object="${user}">

                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:text="#{user.firstName}"></span>
                            </div>
                            <input autocomplete="off" id="firstName" th:class="'form-control' + ${#fields.hasErrors('firstName') ? ' is-invalid' : ''}" th:field="*{firstName}" type="text">
                            <div class="invalid-feedback" th:text="${#fields.errors('firstName')}"></div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:text="#{user.lastName}"></span>
                            </div>
                            <input autocomplete="off" id="lastName" th:class="'form-control' + ${#fields.hasErrors('lastName') ? ' is-invalid' : ''}" th:field="*{lastName}" type="text">
                            <div class="invalid-feedback" th:text="${#fields.errors('lastName')}"></div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:text="#{user.email}"></span>
                            </div>
                            <input autocomplete="off" id="email" th:class="'form-control' + ${#fields.hasErrors('email') ? ' is-invalid' : ''}" th:field="*{email}" type="text">
                            <div class="invalid-feedback" th:text="${#fields.errors('email')}"></div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:text="#{user.username}"></span>
                            </div>
                            <input autocomplete="off" id="login" th:class="'form-control' + ${#fields.hasErrors('username') ? ' is-invalid' : ''}" th:field="*{username}" type="text">
                            <div class="invalid-feedback" th:text="${#fields.errors('username')}"></div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:text="#{user.password}"></span>
                            </div>
                            <input autocomplete="off" id="password" th:class="'form-control' + ${#fields.hasErrors('password') ? ' is-invalid' : ''}" th:field="*{password}" type="password">
                            <div class="invalid-feedback" th:text="${#fields.errors('password')}"></div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-4 mb-3"></div>
                    <div class="col-md-4 mb-3">
                        <div class="input-group mb-3">
                            <button class="btn btn btn-primary btn-block" type="submit" th:text="#{task.save}"></button>
                            <a class="m-lg-3" th:href="@{login}" th:text="#{user.account.exists}"></a>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>

<th:block th:insert="fragments/footer :: footer"/>

</body>
</html>