<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"/>
    <th:block th:insert="fragments/header :: meta-header"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm bg-info navbar-dark sticky-top">

        <th:block th:insert="fragments/body :: logout"/>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="navbar-brand" href="#" th:text="#{application.name}"></a>
                </li>
            </ul>
            <th:block th:insert="fragments/body :: lang"/>
        </div>
    </nav>

    <div class="jumbotron" style="margin-top:20px">
        <div class="container text-center">
            <p class="text-center" th:text="#{user.greeting} + ' ' + ${name}"></p>
        </div>
    </div>

    <div class="jumbotron" style="margin-top:20px">
        <div class="container">
            <form method="post" th:action="@{/tasks}" th:object="${task}">

                <div class="form-row">
                    <div class="col-md-2 mb-3"></div>
                    <div class="col-md-6 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:text="#{task.new}"></span>
                            </div>
                            <input autocomplete="off" class="form-control" id="newTask" name="newTask"
                                   th:field="*{description}" type="text">
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="input-group mb-3">
                            <button class="btn btn btn-primary btn-block" type="submit"
                                    th:text="#{task.add}"></button>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3"></div>
                </div>

            </form>
        </div>
    </div>

    <div class="jumbotron" style="margin-top:20px">
        <div class="container">
            <div class="table-responsive">
                <table class="table">

                    <thead class="thead-dark">
                    <tr>
                        <th th:text="#{task.name}"></th>
                        <th th:text="#{task.actions}"></th>
                    </tr>
                    </thead>

                    <tbody>
                    <th:block th:each="task : ${taskList}">
                        <tr>
                            <td th:text="${task.description}"></td>
                            <td style="width: 20%">
                                <a th:href="@{/tasks/{id}(id=${task.id})}" class="btn btn-success custom-width" th:text="#{task.edit}"></a>
                                <a th:href="@{/tasks(deleteId=${task.id})}" class="btn btn-danger custom-width" th:text="#{task.delete}"></a>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

</div>

<th:block th:insert="fragments/footer :: footer"/>

</body>
</html>