<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}"/>
    <th:block th:insert="fragments/header :: meta-header"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm bg-info navbar-dark sticky-top">

        <th:block th:insert="fragments/body :: logout"/>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="navbar-brand" href="#" th:text="#{application.name}"></a>
                </li>
            </ul>
            <th:block th:insert="fragments/body :: lang"/>
        </div>
    </nav>

    <div class="jumbotron" style="margin-top:20px">
        <div class="container">
            <form method="post" th:action="@{/tasks}" th:object="${taskToEdit}">

                <div class="form-row">
                    <div class="col-md-2 mb-3">
                        <div class="input-group mb-3">
                            <input th:field="*{id}" type="hidden">
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" th:text="#{task.edit}"></span>
                            </div>
                            <input autocomplete="off" class="form-control" id="newTask" name="newTask"
                                   th:field="*{description}" type="text">
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="input-group mb-3">
                            <button class="btn btn btn-primary btn-block" type="submit"
                                    th:text="#{task.save}"></button>
                        </div>
                    </div>
                    <div class="col-md-2 mb-3"></div>
                </div>

            </form>
        </div>
    </div>

</div>

<th:block th:insert="fragments/footer :: footer"/>

</body>
</html>